.news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .news-card {
    width: calc(45% - 20px); /* Adjusted to accommodate margins */
    margin-bottom: 20px;
    padding: 20px;
   
    margin-left: 10px; /* Left margin */
    margin-right: 10px; /* Right margin */
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .news-card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .news-card p {
    margin-bottom: 10px;
  }
  
  .news-card a {
    color: #007bff;
    text-decoration: none;
  }
  
  .news-card a:hover {
    text-decoration: underline;
  }
  






  .user-profile-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .user-profile-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .user-profile-form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .user-profile-form-container label {
    margin-bottom: 8px;
  }
  
  .user-profile-form-container input[type="text"],
  .user-profile-form-container input[type="email"],
  .user-profile-form-container input[type="tel"],
  .user-profile-form-container input[type="file"] {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .user-profile-form-container button[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .user-profile-form-container button[type="submit"]:hover {
    background-color: #0056b3;
  }
  